<tr>
 	<td colspan="2" class="formErrors">
 		<div class="errorArea">
			<h4>Error</h4>
			<ul>
					<li>$action.getText("subversion.admin.privilege.required")</li>
			</ul>
    </div>
   </td>
</tr>
